#discover-navbar{
    background-color: #f5f5f5;
    width: 100%;
}

#nav-sign-buttons{
    float: right;
    vertical-align: middle;
}

#logo{
    vertical-align: top;
}

.page-title{
    padding-bottom: 20px;
    color: #F4A460;
}

.sign-input{
    width: 60%;
}

.sign-btn{
    background-color: #F4A460;
    border: none;
    color: #B22222;

}

.sign-field-title{
    color: #F4A460;
}

#login_err{
    color:#B22222;
}

#dataset-label{
    color: #F4A460;
    padding-right: 10px;
    padding-left: 10px;
}

.add_cpmany_form{
   margin-bottom: 20px;
}